#mainServico {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* .map-responsive {
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
} */
#pagina{
  width: 100%;;
}
 #mapa{
     padding: 0;
     margin: 0;
     width: 50%;
     
 }
#servico{
    background-color: aquamarine;
    width: 50%;

}

#logo{
  width: 80px;
}
button{
  padding: 10px;
  background-color: transparent !important;
  border-style: none !important;
}

button, img{
  width: 100px;
}

.col{
  margin: 40px !important;
  
}
